.purple-color{
    color: orangered;
}
body{
    font-family: 'Poppins', sans-serif;
}
p {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.align-center{
   text-align: center;
}
h1{
    font-size: 50px;
    height: 30px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* .bannner-section img{
 width: 100%;
} */
.banner-heading {
    border-left:6px solid rgb(231, 70, 20);
    padding-left: 10px;
    height: 130px;
    margin-bottom: 30px;
}

.flexible-container{
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-container{
    padding: 40px
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(rgb(233, 15, 179),rgb(255, 130, 46));
}
.third-width{
    width: 28%;
    
    border-radius: 20px;
    padding: 20px;
}

.mission-section .third-width:nth-child(1) {
    background-color: #e3eef1;
}
.mission-section .third-width:nth-child(2) {
    background-color: #f1e3e8;
}
.mission-section .third-width:nth-child(3) {
    background-color: #ffefe8;
}

/* .third-width.second{
    background-color: #f1e3e8;
}

.third-width.third{
    background-color: #ffefe8;
} */
.third-width img {
    width: 130px;
    margin: 0 auto;
}
.app-section img {
    width: 400px;
}

/* footer css */

footer{
    background-color: #000;
    color: #ddd;
    text-align: center;
    padding: 50px 0;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
.footer-color{
    color: tomato;
}
.middle-banner{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}